<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Boogaloo|Pangolin" rel="stylesheet">
		<title>Eat Da Burger Da Sequel</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
